{% extends 'base.html' %}
{% block content %}

<h1 class="brown-text center-align">About TrailTrekker</h1>
 <hr>
 <p class="transparent-card z-depth-5">Embark on a journey of discovery with our hiking app! 'Explore, Track, Conquer: Your Adventures, Your Trail!' is your ultimate companion for logging every step of your hiking expeditions. Seamlessly track your routes, monitor your progress, and relive the thrill of conquering new trails. Wherever your path leads, let our app be your guide to a world of adventure. Lace up, explore nature, and leave no trail undocumented!</p>

{% endblock %}